      <!-- Site footer -->
    <footer class="site-footer bg-dark mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Acerca de nosotros</h6>
            <p class="text-justify">Texto<i>TEXTO DESTACADO </i> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam nesciunt assumenda, animi veniam accusamus dolorum blanditiis sunt ipsa laborum expedita commodi iusto in repellat repellendus, tempore cupiditate illum incidunt! Minus!</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categorías</h6>
            <ul class="footer-links">
              <li><a href="#">Avisos</a></li>
              <li><a href="#">ONGs</a></li>
              <li><a href="#">Migrantes</a></li>
              <li><a href="#">Voluntarios</a></li>
              <li><a href="#"></li>
              <li><a href="#">Refugios</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Accesos rápidos</h6>
            <ul class="footer-links">
              <li><a href="">Sobre nosotros</a></li>
              <li><a href="#">Contacto</a></li>
              <li><a href="#">Ayuda</a></li>
              <li><a href="#">Política de privacidad</a></li>
              <li><a href="#">Mapa del sitio</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Derechos reservados &copy; <%= Time.now.year %>  </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
