  <div class="container">
    <h1 class="mb-4 text-white">Anuncios de Ocasión</h1>
    <div class="row">
      <div class="col-md-4 mb-3">
        <!-- Tarjeta 1 -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Anuncio 1</h5>
            <p class="card-text">Comida gratis.</p>
          </div>
        </div>
      </div>
     <div class="col-md-4">
        <!-- Tarjeta 2 -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Anuncio 2</h5>
            <p class="card-text">Busco companero de viaje.</p>
          </div>
        </div>
      </div>
           <div class="col-md-4">
        <!-- Tarjeta 3 -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Anuncio 3</h5>
            <p class="card-text">Formando caravana para cruzar por mexico.</p>
          </div>
        </div>
      </div>
           <div class="col-md-4">
        <!-- Tarjeta 4 -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Anuncio 4</h5>
            <p class="card-text">Vendo telefono Huawei.</p>
          </div>
        </div>
      </div>
           <div class="col-md-4">
        <!-- Tarjeta 5 -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Anuncio 5</h5>
            <p class="card-text">Busco catre o cama plegable.</p>
          </div>
        </div>
      </div>
           <div class="col-md-4 mb-3">
        <!-- Tarjeta 6 -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Anuncio 6</h5>
            <p class="card-text">En busca de apartaestudio.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
