<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><strong>Conectamos servicios y ayuda a migrantes</strong>!</h1>
    <p></p>
    <a class="btn btn-flat" href="#">Soy Migrante</a>
  </div>
</div>
