.h1-carousel {
  // position: relative;
  z-index: 3;
  top: 210px;
  color: white;
  justify-content: overflow;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%)
}
.h2-carousel {
  z-index: 3;
  top: 430px;
  color: white;
  justify-content: overflow;
  // text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
}

.img {
  opacity: 55%;
}
