.container2-2 {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 20px;
}

.two-columns { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px;
  height: 100%;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 1);
}


.main-box-form {
  width: 50%;
  margin: auto;
  margin-bottom: 5%;
  border-radius: 10px;
  padding: 1%;
}