.h1-carousel {
  font-family: 'Alata', sans-serif;
  font-size: 85px;
}

.h2 {
  font-family: 'ABeeZee', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Alata', sans-serif;
}

body {
  font-family: 'Alata', sans-serif;
}
